
<head>
    <link rel="stylesheet" href="/css/my-queries.css">
</head>

<%- include('navbar.ejs') %>
<!--<div class="wrap">-->
<div class="heading-wrap"><p class="heading">Your Queries</p></div>

<div class="container2">

    <% for(let i=0;i<arr.length;i++){%>
    <div class="items2">

        <div class="inner-item Q">
            Q  <%=i+1%>). <%=arr[i].question%>
         </div>
        <div style="display: flex;width: 100%;justify-content: space-evenly">
            <p style="font-size: 15px;color: #3e54ac;">Asked on: <%=arr[i].askDate%></p>
            <p style="font-size: 15px;color: #3e54ac;">Answered on: <%=arr[i].answerDate%></p>

        </div>
<div style="width: 100%;display: flex;justify-content: space-evenly">
        <form class="ansblock"  action="/queries/<%=arr[i]._id%>" method="post">
                <% if(arr[i].status==='Answered'){%>
                <span class="inner-item A">
                    <%=arr[i].answer%>
                </span>
                <%}else{%>
                <textarea class="ansss" name="answer"></textarea>
                <button class="submitterrr" type="submit">Answer</button>


            </form>
<%}%>
        <form action="/deleteQuery/<%=arr[i]._id%>" method="post">
            <input name="id" style="display: none" value="<%=arr[i]._id%>">
            <input name="askedBy" value="<%=arr[i].askedBy%>" style="display: none">
            <button class="submitterrr" type="submit">Delete</button>

        </form>
</div>
    </div>

    <%}%>


</div>

<%-include('footer.ejs')%>

