<html>
<head>
    <link rel="stylesheet" href="/css/healthpolicies.css">
    <link rel="stylesheet" href="/css/login.css">

</head>
<body>
<%- include('navbar.ejs') %>
<div><br>
    <br>
    <h1  class="heading">Our Health Insurance Policies: Protecting Your Health and Finances</h1>
    <p class="matter">

        At Genesis Insurances Pvt Ltd, we understand that your health and well-being are among your top priorities. However, we also know that unexpected medical expenses can take a toll on your finances and cause undue stress. That's why we offer a range of health insurance policies that are designed to provide comprehensive coverage and financial security in the face of unforeseen health issues.

        Our health insurance policies are tailored to meet the unique needs of individuals, families, and businesses. Whether you're looking for basic coverage or a comprehensive plan that includes additional benefits such as dental and vision coverage, we have a policy that will suit your requirements. Our policies provide coverage for hospitalization, surgery, diagnostic tests, ambulance services, and more.

        At Genesis Insurances, we believe in transparency and simplicity. That's why our policies are easy to understand, and we provide clear information on the coverage, benefits, and exclusions. We also offer a range of customization options so that you can choose the coverage that best fits your needs and budget.

        In addition to our comprehensive health insurance policies, we also offer a range of other insurance products, including life insurance, travel insurance, and home insurance. Our team of experienced professionals is always available to help you choose the right policy and answer any questions you may have.

        At Genesis Insurances, we are committed to providing our customers with the best possible service and support. We understand that health insurance can be a complex topic, and we are here to guide you every step of the way. Contact us today to learn more about our health insurance policies and how we can help protect your health and finances.</p>
</div>
<div class="container">
    <%for(let i=0;i<array.length-1;i++){%>

    <div class="card">
       <div class="item">
          <h1><%=array[i].name%></h1>
       </div>
       <div class="item">
           <h2><%=array[i].term%></h2>
       </div>
       <div class="item">
          <h2><%=array[i].percentage%></h2>
       </div>
       <div class="item">
           <h2><%=array[i].cost%></h2>
       </div>
        <div class="item">
            <button class="button"> Select </button>
        </div>

   </div>
<%}%>
</div>
<div>
    <a href="#nav"><button class="below">Back To Top</button></a>

</div>
</body>
</html>