<head>
    <link rel="stylesheet" href="/css/life-form.css">
</head>

<%- include('navbar.ejs')%>
<img class="car" src="/images/health-insurance.png">

<form class="form" action="/verify-health-form/<%=applier%>" method="post" >
    <div class="row1"><p class="label">Name</p> <input name="firstName" type="text" class="row13" placeholder="First name" value="<%=firstName%>">
        <input name="lastName" type="text" class="row13" placeholder="Last name" value="<%=lastName%>"></div>


    <div class="row2">
        <div class="subrow"><p class="label">AADHAR</p> <a href="/files/<%=aadhar%>">Open AADHAR</a></div>
        <div class="subrow"><p class="label">PAN</p><a href="/files/<%=pan%>">Open AADHAR</a></div>
    </div>
    <div class="row2">
        <div class="subrow"><p class="label">DOB Proof</p><a href="/files/<%=dobProof%>">Open AADHAR</a></div>
        <div class="subrow"><p class="label">Health Certificate</p><a href="/files/<%=healthCertificate%>">Open AADHAR</a></div>

    </div>

    <div class="row1">
        <input class="health_" name="healthCondition" placeholder="Any health defects you have suffered previously or are suffering currently" value="<%=healthCondition%>">
    </div>

    <div class="row1">
        <p class="label">Nominee Name</p>
        <input name="nominee" class="inner-row1" value="<%=nominee%>">

    </div>

    <div class="row2">
        <div class="subrow">
            <p class="label">Nominee Age</p>
            <input class="inner-row2" name="nomineeAge" value="<%=nomineeAge%>">
        </div>
        <div class="subrow">
            <p class="label">Nominee Relation</p>
            <input class="inner-row2" name="nomineeRelation" value="<%=nomineeRelation%>">
        </div>
    </div>

    <div class="row1">
        <p class="label">Policy Number</p>
        <input class="inner-row1" name="policyNum" value="<%=policyNum%>">
    </div>

    <div class="row1">
        <p class="label">Policy Id</p>
        <input class="inner-row1" name="policyId" value="<%=policyId%>">
    </div>

    <div class="row2">
        <div class="subrow"> <p class="label">Cover Amount</p><input class="inner-row2" type="number" name="amount" value="<%=amount%>>"></div>
        <div class="subrow"> <p class="label">Type</p><select name="payType" class="inner-row2" value="<%=payType%>>">
                <option>Annually</option>
                <option>Monthly</option>
            </select></div>

    </div>
    <div class="row1">
        <p class="label">Status</p>
        <input class="inner-row1" name="status" >
    </div>

    <button class="button" type="submit">Verify</button>



</form>

<%-include('footer.ejs')%>