<head>
    <link rel="stylesheet" href="/css/transport-form.css">
</head>

<%- include('navbar.ejs')%>
<!--<img class="car" src="/images/car.svg">-->
<form class="form" action="/transport-form" method="post" enctype="multipart/form-data">
    <div class="row1"><p class="label">Name</p> <input  name="firstName" type="text" class="row13" placeholder="FirstName" required>
        <input name="lastName" type="text" class="row13" placeholder="LastName" required></div>
    <div class="row1">
        <p class="label">Sex</p> <input name="sex" class="inner-row1" placeholder="Sex" required>
    </div>
    <div class="row2">
        <div class="subrow"><p class="label">AADHAR</p> <input type="file" class="inner-row2" name="aadhar" required></div>
        <div class="subrow"><p class="label">C Book</p> <input type="file" class="inner-row2" name="c_book" required></div>
    </div>
    <div class="row1">
        <p class="label">Vehicle Registration number</p> <input name="regNum" class="inner-row1" placeholder="Registation number" required>
    </div>

    <div class="row2">
        <div class="subrow"><p class="label">Vehicle company</p> <input class="inner-row2" name="company" required></div>

        <div class="subrow"><p class="label">Vehicle model</p> <input class="inner-row2" name="model" required></div>
    </div>

    <div class="row2">
        <div class="subrow"><p class="label">Vehicle type</p> <input class="inner-row2" name="vehicleType" required></div>
        <div class="subrow"><p class="label">Year of manufacture</p> <input class="inner-row2" name="yearOfMfg" type="number" required></div>
    </div>
    <div class="row2">
        <div class="subrow"><p class="label">Engine</p><input  name="engine" class="inner-row2" required></div>
        <div class="subrow"><p class="label">Chassis</p><input name="chassis" class="inner-row2" required></div>

    </div>

    <div class="row1">
        <p class="label">Nominee Name</p>
        <input name="nominee" class="inner-row1" required>

    </div>

    <div class="row2">
        <div class="subrow">
            <p class="label">Nominee Age</p>
            <input class="inner-row2" name="nomineeAge" required>
        </div>
        <div class="subrow">
            <p class="label">Nominee Relation</p>
            <input class="inner-row2" name="nomineeRelation" required>
        </div>
    </div>

    <div class="row2">
        <div class="subrow"><p class="label">Nominee AADHAR</p> <input type="file" class="inner-row2" name="nomineeAadhar" required></div>
        <div class="subrow"><p class="label">Nominee AddressProof </p> <input type="file" class="inner-row2" name="nomineeAddressProof" required></div>
    </div>
    <div class="row1">
        <p class="label">Policy Id</p>
        <input class="inner-row1" name="policyId" readonly value="<%=r._id%>" required>
    </div>
    <div class="row1">
        <p class="label">Policy Name</p>
        <input class="inner-row1" name="policyName" readonly value="<%=r.name%>" required>
    </div>

    <div class="row2">
        <div class="subrow"> <p class="label">Amount</p><input class="inner-row2" type="number" readonly name="amount" value="<%=r.amount%>" required></div>
        <div class="subrow"> <p class="label">Policy Term</p><input name="policyTerm" class="inner-row2" readonly value="<%=r.term%>" required>
        </div>

    </div>
    <input value="<%=applier%>" name="applier" readonly style="display: none" required>
    <input value="<%=r.type%>" name="policyType" readonly style="display: none" required>
    <button class="button" type="submit">Submit</button>


</form>

<%-include('footer')%>
