<html>
<head>
    <link rel="stylesheet" href="/css/trans2.css">
<!--    <link rel="stylesheet" href="/css/navbar.css">-->
</head>
<body>
<%- include('navbar.ejs') %>
<div class="intro"><br>
    <br>
    <h1 class="heading">Motor Insurance</h1>
    <h2 id = "subheading" class="subheading">Buy/Renew Motor Insurance Policy Online Instantly</h2>
    <h3 class="qno" ><strong> What is Motor Insurance ? </strong> </h3>
    <div class="introflex">
        <p class="matter" style="background-color: rgba(192,212,250,0.7);">
            Motor Insurance, also known as auto insurance, is a type of vehicle insurance policy that protects you and your car / bike from any risks and damages caused
            from accidents, thefts or natural disasters. So, you will be financially secure in case of any losses that may be incurred because of any such unforeseen
            circumstances. In addition to that, you will also be protected from third-party liabilities.
        </p>
        <img class="introimg" src="/images/Vehicle Sale-cuate.png" alt="Motor Insurance">
    </div>
    </div>
<h2 class="subheading">Types of Insurances We Offer :</h2>

<h3 class="qno"><strong>Third-Party Liability</strong></h3>
<div class="type five">
    <p class="matter5">
        <strong>Third-party Car Insurance</strong> in motor insurance refers to the legal and financial responsibility of the policyholder for any damage, injury or loss caused to a third-party in an
        accident involving the policyholder's vehicle. In other words, if you are at fault in an accident, your insurance policy will cover the damages and compensation
        to the other party involved in the accident.<br>
        <i><strong>Mandatory for every vehicle by law of Govt</strong></i>
    </p>
    <img src="/images/tpl.png" class="tplimg">
</div>

<h3 class="qno"> <strong> Own Damage Stand Alone Cover</strong></h3>
<div class="type one">
    <p class="matter1">
        <strong>Own Damage Stand Alone Cover</strong> is a type of motor insurance policy that covers the damage to your own vehicle, regardless of who is at fault for the accident. With an Own Damage Stand Alone Cover, you can purchase coverage that specifically
    protects your vehicle from damages caused by <i><strong> accidents, natural disasters, theft, fire </strong></i>  and other perils.
    This policy can be beneficial for those who own an old or used vehicle or who have a low-value car,as it may be less expensive than other policies.
    </p>
<!--    <img class="standaloneimg1" src="/images/Car-standalone.png" alt="car crash ">-->
    <img class="standaloneimg2" src="/images/care-got-fire.png" alt="car on fire">
</div>
<h3 class="qno"><strong>  Personal Injury Protection (PIP)</strong></h3>
<div class="type two">
<P class="matter2">
    <strong>Personal Injury Protection (PIP)</strong> is a type of car insurance coverage that pays for medical expenses, lost wages, and other expenses related to injuries sustained in a car accident.<br>

    1)<strong> Medical expenses</strong>: PIP can pay for medical expenses related to injuries sustained in a car accident, including hospitalization, surgery, rehabilitation, and other medical treatments.<br>

    2)<strong>Lost wages</strong> : PIP can provide compensation for lost wages if you are unable to work due to injuries sustained in a car accident.<br>

    3)<strong>Funeral expenses</strong>: PIP may cover the cost of funeral expenses if someone is killed in a car accident.<br>

    <strong>  Other benefits</strong> : PIP may cover other expenses related to injuries sustained in a car accident, such as childcare or housekeeping services.
</P>
    <img class="pipimg" src="/images/injured-man.png" alt="injured man">
</div>

<h3 class="qno">Comprehensive Motor Insurance</h3>
<div class="type four">
    <p class="matter4">
        <strong>Comprehensive motor insurance</strong>, also known as "fully comprehensive insurance," is a type of car insurance policy that provides the widest range of
        coverage for your vehicle. This policy not only covers third-party liabilities but also covers damage to your own vehicle from various causes.
        Comprehensive motor insurance typically covers:<br>

       <strong>1) Third-party liabilities: </strong>  This includes damage to other vehicles, property, or injuries to other people in an accident caused by you.<br>
       <strong>2)Own damage: </strong>  This includes damage to your own vehicle, whether it's caused by an accident, theft, fire, natural disasters, or other perils.<br>
        <strong>3)Personal accident cover:</strong>   This includes coverage for injuries sustained by you or your passengers in an accident.<br>
        <strong>4)Add-on covers:</strong> You can purchase additional coverage such as engine protection, zero depreciation cover, roadside assistance, and more.<br>
        <i> Comprehensive motor insurance provides the most extensive protection for your vehicle and can give you peace of mind while driving.</i>
    </p>
    <img src="/images/compinc.png" alt="comping" class="compimg">
</div>

<div class="animator">
    <ul>
        <li> <img class="image_anim" height="300vh" width="150vh" src="/vehin/Insurance.png" alt="healthinsurance" />Vehicle insurance</li>
        <li> <img class="image_anim" height="300vh" widt="150vh" src="/healthanim/protect.jpg" alt="sliced mango. " />Protector</li>
        <li> <img class="image_anim" height="300vh" widt="150vh" src="/vehin/v211batch11-filmful-191-caraccident_2.jpg" alt="a bunch of blueberries. " />Save your life</li>
        <li> <img class="image_anim" height="300vh" widt="150vh" src="/healthanim/KYC.jpg" alt="a pineapple sitting on a table. " />KYC</li>
        <li> <img class="image_anim" height="300vh" widt="150vh" src="/healthanim/support.jpg" alt="frozen raspberries. " /> We support you</li>
        <li> <img class="image_anim" height="300vh" widt="150vh" src="/healthanim/insurancenofear.jpg" alt="a sliced strawberry. " />No fear of unexpected</li>
        <li> <img class="image_anim" height="300vh" widt="150vh" src="/healthanim/guarantee.jpg" alt="an arrangement of assorted sliced fruits. " />You are guaranteed</li>
        <li> <img class="image_anim" height="300vh" widt="150vh" src="/vehin/car-vehicle-puja-kit-1506862129-3369070.jpeg" alt="sliced watermelons. " />Vehicle Value In India</li>
        <li> <img class="image_anim" height="300vh" widt="150vh" src="/healthanim/security.png" alt="half of a lime. " />Secured</li>
        <li> <img class="image_anim" height="300vh" widt="150vh" src="/healthanim/priority.jpg" alt="a single cherry with stem. " />You are our priority</li>
      </ul>
</div>

<script>

    // Function to check if an element is in the viewport
function isInViewport(element) {
    var rect = element.getBoundingClientRect();
    return (
        rect.top >= 0 &&
        rect.left >= 0 &&
        rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
        rect.right <= (window.innerWidth || document.documentElement.clientWidth)
    );
}
</script>
<script>
    function animatePolicyCards() {
        var policyCards = document.querySelectorAll(".card12");
        policyCards.forEach(function (card) {
            if (isInViewport(card)) {
                card.style.opacity = 1;
                card.style.transform = "translateY(-10)";
            }
        });
    }
    
    // Listen for scroll events and trigger the animation
    window.addEventListener("scroll", animatePolicyCards);
    
    // Initial animation check in case some cards are already in the viewport on page load
    window.addEventListener("load", animatePolicyCards);
    
    const observer =new IntersectionObserver((entries) => {
        entries.forEach((entry)=>{
            console.log(entry)
            if (entry.isIntersecting)
            {
                entry.target.classList.add('show');
            }
            else{
                entry.target.classList.remove('show');
            }

        });
    });

    const hiddenElements = document.querySelectorAll('.hidden');
    hiddenElements.forEach((el)=> observer.observe(el));
</script>
<div class="container12">
    <%for(let i=0;i<array.length;i++){%>

    <div class="card12 show">
       <div class="item12" style="color: darkblue" >
          <h4 class="sparkle u-hover--sparkle";font-size: x-large;><%=array[i].name%></h4>
       </div>
       <div class="item12">
          <h4>IDV : <%=array[i].amount%></h4>
       </div>
       <div class="item12">
           <h4>TERM:<%=array[i].term%></h4>
       </div>
        <div class="item12">
            <a href="/buy-policy/<%= array[i]._id  %>"><button class="button">Select</button></a>
        </div>
   </div>
<%}%>
</div>
<div>
    <a href="#nav"><button class="below">Back To Top</button></a>
</div>
<%- include('footer.ejs') %>

</body>
</html>